<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".application.OperatorApplication"
        tools:replace="android:name">
        <activity
            android:name=".view.main.OperatorMainActivity"
            android:exported="false"
            android:theme="@style/Theme.EVChargingMobile" />

        <activity
            android:name=".view.qr.QRActivity"
            android:exported="false"
            android:theme="@style/Theme.EVChargingMobile" />

        <activity
            android:name=".view.profile.ProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.EVChargingMobile" />

        <activity
            android:name=".view.settings.SettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.EVChargingMobile" />

        <activity
            android:name=".view.reservations.ReservationsActivity"
            android:exported="false"
            android:theme="@style/Theme.EVChargingMobile" />
    </application>
</manifest>
